<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skylaon.spring.sm.mapper.ProductMapper">
	<select id="getProductList" resultType="com.skylaon.spring.sm.vo.ProductVO">
		SELECT * FROM SL_PRODUCTS WHERE CATEGORY_ID = #{category_id}
	</select>
	<select id="getProductInfo" resultType="com.skylaon.spring.sm.vo.ProductVO">
		SELECT * FROM SL_PRODUCTS WHERE PRODUCT_ID = #{product_id}
	</select>
	
	<select id="getSearchProductList" resultType="com.skylaon.spring.sm.vo.ProductVO">
		SELECT * FROM SL_PRODUCTS WHERE PRODUCT_NAME LIKE CONCAT('%', #{product_name}, '%')
	</select>
</mapper>